<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/style"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container">
    <div class="row">
        <div class="job_details_area">
            <div class="apply_job_form white-bg">
                <h4>Добавление новой задачи</h4>
                <form th:method="POST" th:action="@{/problems}" th:object="${problem}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input_field">
                                <input placeholder="Заголовок" th:field="*{title}" id="title">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input_field">
                                <textarea cols="30" rows="10" placeholder="Текст задания" th:field="*{text}" id="text"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input_field">
                                <textarea cols="30" rows="10" placeholder="Пояснение" th:field="*{solution}" id="solution"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input_field">
                                <input placeholder="Ответ" th:field="*{answer}" id="answer">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input_field">
                                <input type="url" th:field="*{imgUrl}" id="imgUrl" placeholder="Ссылка на изображение"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input_field">
                                <input type="text" th:field="*{type}" id="type" placeholder="Тип задания"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="switch-wrap d-flex justify-content-between">
                                <p>Панель рисования</p>
                                <div class="primary-switch">
                                    <input type="checkbox" name="isDrawable" id="confirm-switch" checked="">
                                    <label for="confirm-switch"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button class="boxed-btn3 w-100" type="submit">Создать задание</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>