<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>problems/show</title>
    <div th:replace="fragments/includes"> This header content is going to be replaced.</div>
</head><body>
<div class="row">
    <div class="col-2 border">
        <div th:replace="fragments/header" > This header content is going to be replaced.</div>
    </div>
    <div class="col-10 border">
        <div th:each="solve : ${solves}">
            <div th:text="${solve.getProblem().getId()}"></div>
            <a th:href="@{/problems/{id}(id=${solve.getProblem().getId()})}" th:text="${solve.getProblem().getText()}"></a>
            <div></div>
            <div th:text="'Правильный ответ: ' + ${solve.getProblem().getAnswer()}"></div>

            <div th:if="${solve.isCorrect()}" class="bg-success" th:text="'Ваш ответ: ' + ${solve.getAnswer()}"></div>
            <div th:if="${!solve.isCorrect()}" class="bg-danger" th:text="'Ваш ответ: ' + ${solve.getAnswer()}"></div>
            <br/>
        </div>
    </div>
    <br/>
    <hr/>
</div>
</body>
</html>