<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/style"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="blog_left_sidebar">
                <form th:method="POST" action="/variants/check">
                    <div class="row">
                        <article class="blog_item" th:each="problem: ${variant.getProblems()}">
                            <input type="hidden" name="variant_id" th:value="${variant.getId()}">
                            <div class="blog_item_img">
                                <a th:href="@{/problems/{id}(id=${problem.getId()})}"class="blog_item_date">
                                    <h3 th:text="${problem.getId()}"></h3>
                                    <p>Задание</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="">
                                    <h2 th:text="${problem.getTitle()}"></h2>
                                </a>
                                <p style="text-align:justify;"  th:text="${problem.getText()}">That dominion stars lights dominion divide years for fourth have don't stars is that
                                    he earth it first without heaven in place seed it second morning saying.</p>
                                <img th:if="${problem.getImgUrl() != null}" width="150" height="150" th:src="${problem.getImgUrl()}" alt="">
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> <span th:text="${problem.getAuthor().getLogin()}"></span> </a></li>
                                    <li><a href="#"><i class="fa-solid fa-bolt"></i> Тип задания: <span th:text="${problem.getType()}"></span></a></li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input_field">
                                            <input placeholder="Введите ответ" type="text" th:name="${problem.getId()}" th:id="${problem.getId()}">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </article>
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button class="boxed-btn3 w-100" type="submit">Проверить</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



</div>
</body>
</html>