<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>problems/show</title>
    <div th:replace="fragments/includes"> This header content is going to be replaced.</div>
</head>
<body>
<div class="row">
    <div class="col-2 border">
        <div th:replace="fragments/header" > This header content is going to be replaced.</div>
    </div>
    <div class="col-10 border">
        <p th:text="${problem.getText()}"></p>
        <p th:text="${problem.getAuthor().getLogin()}"></p>
        <details>
            <summary>Ответ</summary>
            <p th:text="${problem.getAnswer()}"></p>
        </details>
        <br/>
        <a th:href="@{/problems/{id}/edit(id = ${problem.getId()})}">Edit</a>
        <form th:method="DELETE" th:action="@{/problems/{id}(id = ${problem.getId()})}">
            <input type="submit" value="Delete">
        </form>
    </div>
    <br/>
    <hr/>
</div>
</body>
</html>