<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/style"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <h2>Короткий гайд как пользоваться всем этим добром
                        </h2>
                        <p class="excert">
                            Авторизация и регистрация справа вверху. Процесс достаточно простой. Для неавторизованных пользователей
                            есть возможность решения вариантов и просмотра заданий. Для всех остальных есть возможность создавать эти самые варианты и задания.
                        </p>
                        <p>
                            К тому же можно добавляться к существующим пользователям, конкретнее становится учеником или учителем для них.
                            Будучи учителем можешь задать дз в виде варианта.
                            У ученика отобразиться дз, он может его сделать, в таком случае результат выполнения варианта сохранится.
                        </p>
                        <p>
                            Учитель может править задания, если вдруг они случайно сохранились как неправильные или в случае если это задание с рисунком, хотя по факту являются правильными.
                        </p>
                        <p>
                            Если вдруг лень создавать собственные задания и просто хочется протестить как всё работает, то нажимай на кнопку.
                            Автоматически создается несколько заданий, пользователей и 1 вариант.

                        </p>
                        <p>
                            Пользователи:
                        </p>
                        <p>
                            1)JayKimyra 123
                        </p>
                        <p>
                            2)ED 123
                        </p>
                        <p>
                            3)GENBY_8 123
                        </p>
                        <a href="/init"><button class="genric-btn warning circle">Инициализация</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>