<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/style"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/includes"></div>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container">
    <div class="row">       <div class="col">
            <div class="blog_left_sidebar">
                <article class="blog_item">
                    <form th:method="POST" th:action="@{/homework}">
                        <label for="variantId">Введите номер варианта: </label>
                        <input type="number" id="variantId" name="variantId"/>
                        <br/>
                        <label for="studentLogin">Введите логин студента: </label>
                        <select id="studentLogin" name="studentLogin">
                            <option value="0">Выберите ученика</option>
                            <option th:each="student : ${students}" th:value="${student.getLogin()}" th:text="${student.getLogin()}"></option>
                        </select>
                        <br/>
                        <input type="submit" value="Отправить запрос!"/>
                    </form>
                </article>

            </div>
        </div>
    </div>
</div>
</body>
</html>